{% extends 'AdminMain/Student/index.html' %}
{% block content %}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Function to create an order and initialize Razorpay Checkout
        function createOrderAndInitializeCheckout() {
            // Make a request to your Django server to create an order
            $.ajax({
                type: 'POST',
                url: '/create_order/',  // Replace with your Django endpoint for creating an order
                data: {'registration_fee': {{ registration_fee }}},
                success: function (response) {
                    // Check for errors in the response
                    if (response.error) {
                        alert('Error: ' + response.error);
                    } else {
                        // Initialize Razorpay Checkout
                        var options = {
                            key: response.razorpay_key_id,
                            amount: response.amount,
                            currency: 'INR',
                            name: 'RCMAS COLLEGE',
                            description: '',
                            image: 'https://mcampus.rajagiricollege.edu.in/Content/sh/images/icon/logo.png',
                            order_id: response.order_id,
                            handler: function (response) {
                                // Verify the payment on the server
<!--                                alert(response.razorpay_payment_id);-->
<!--                                alert(response.razorpay_order_id);-->
<!--                                alert(response.razorpay_signature)-->
                                verifyPayment(response);
                            },
                            prefill: {
                            contact: '{{phone}}', // Set the contact field to an empty string
                            email: '{{email}}'    // Set the email field to an empty string
                           },

                            notes: {
                                address: 'Razorpay Corporate Office'
                            },
                            theme: {
                                color: '#3399cc'
                            }
                        };

                        var rzp1 = new Razorpay(options);
                        rzp1.open();
                    }
                },
                error: function (error) {
                    alert('Error: Unable to create an order');
                }
            });
        }


function verifyPayment(response) {
    // Get the CSRF token from the cookie
    var csrfToken = getCookie('csrftoken');

    // Make a request to your Django server to verify the payment
    $.ajax({
        type: 'POST',
        url: '/verify_payment/',  // Replace with your Django endpoint for verifying payment
        data: {
            'payment_id': '{{ payment_id }}',
            'razorpay_order_id':response.razorpay_order_id,
            'razorpay_payment_id': response.razorpay_payment_id,
            'razorpay_signature': response.razorpay_signature,
        },
        // Include the CSRF token in the headers
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrfToken);
            }
        },
        success: function (verificationResponse) {
            // Handle the verification response as needed
           if (verificationResponse.status === 'success') {
            // Payment verification success, redirect to GeneratePaymentReceipt URL
             alert('Payment verification status: ' + verificationResponse.status);
            window.location.href = "{% url 'GeneratePaymentReceipt' %}";
        } else {
            // Payment verification failure, redirect to StudentHome URL
            alert('Payment verification status: ' + verificationResponse.status);
            window.location.href = "{% url 'StudentHome' %}";
        }
        },
        error: function (error) {
            // Handle error
            // alert('Error: Unable to verify payment');
            window.location.href = "{% url 'StudentHome' %}";
        },
<!--        complete: function () {-->
<!--            // Redirect to GeneratePaymentReceipt URL after the Ajax call is complete-->
<!--            window.location.href = "{% url 'GeneratePaymentReceipt' %}";-->
<!--        }-->
    });
}

// Function to get CSRF token from cookie
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Check if this cookie name is the one we're looking for
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

// Function to check if a method is safe for CSRF
function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
}

// Call createOrderAndInitializeCheckout immediately when the page is ready
createOrderAndInitializeCheckout();

    });
</script>
{% endblock %}
