{% extends 'AdminMain/Festival.html' %}
{% block content %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Event Category</h4>
                  <form class="forms-sample" method="post" >
                     {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Event Category Name</label>
                      <input type="text" class="form-control" name="name" value="{{data.event_category_name}}" id="exampleInputUsername1" >
                    </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button type="button" class="btn btn-light" id="redirectButton">Cancel</button>
                  </form>
                </div>
              </div>
</div>

<script>
document.getElementById("redirectButton").onclick = function() {
    window.location.href = "{% url 'vieweventcategory' %}";
}
</script>


{% endblock %}
