{% extends 'AdminMain/Festival.html' %}
{% block content %}
<div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Are you sure want to delete</h4>

                    <a href="../DeleteInstitution1/{{data}}"><button type="submit" class="btn btn-primary mr-2">Yes</button></a>

                    <a href="../ViewInstitution"><button class="btn btn-light" id="CancleBtn">No</button></a>

                </div>
              </div>
</div>

{% endblock %}
