{% extends 'AdminMain/Festival.html' %}
{% block content %}
<style>
body {font-family: Arial, Helvetica, sans-serif;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 90%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: white; /* Fallback color */
  background-color: white; /* Black w/ opacity */
}

/* Modal Content */
#modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  left:100px;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#modal-body {padding: 2px 16px;}
.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
</style>

<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Participant Category</h4>
                 <img  id="myBtn" src="https://cdn-icons-png.flaticon.com/512/1665/1665578.png" width="35vh;" height="35vh;">
                  <br>
                    <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>
                            Participant category
                          </th>
                          <th>

                          </th>
                          <th>

                          </th>

                        </tr>
                      </thead>
                      <tbody>
                       {% for i in data %}
                        <tr>
                          <td>
                           {{ i.participant_category_name }}
                          </td>
                          <td>
<!--                           <a href="../EditParticipantCategory/{{i.id}}"><label class="badge badge-primary">edit</label></a>-->
                          </td>
                          <td>
                              <a href="../DeleteParticipantCategory/{{i.id}}"><label class="badge badge-danger">Delete</label></a>
                          </td>
<!--                            <td>-->
<!--                             <button onclick="mybtnclick()">button</button>-->
<!--                          </td>-->
                        </tr>
                       {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</div>
<!--<div id="myModal" class="modal">-->

<!--   Modal content-->
<!--  <div class="modal-content">-->
<!--    <div class="modal-header">-->
<!--      <span class="close">&times;</span>-->
<!--      <h2>Modal Header</h2>-->
<!--    </div>-->
<!--    <div class="modal-body">-->
<!--      <p>Some text in the Modal Body</p>-->
<!--      <p>Some other text...</p>-->
<!--    </div>-->
<!--    <div class="modal-footer">-->
<!--      <h3>Modal Footer</h3>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<div id="myModal" class="modal">
<div class="col-md-6 grid-margin stretch-card">
              <div class="card" id="modal-content" style="margin-left:45vh;">
                <div class="card-body" id="modal-body">
                  <h4 class="card-title">Add Participant Category</h4>
                  <form class="forms-sample" method="post" action="../CreateParticipantCategory">
                     {% csrf_token %}
<!--                    <div class="form-group">-->
<!--                      <label for="exampleInputUsername1">Participant Category</label>-->
<!--                      <input type="text" class="form-control" name="name" id="exampleInputUsername1" placeholder="enter name" required>-->

<!--                    </div>-->
                       <div class="form-group">
                            <label>Select participant category</label>
                            <select class="js-example-basic-single w-100" name="name" required>
                                <option ></option>
                                <option value="Single">Single</option>
                                <option value="Group">Group</option>
                            </select>
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Submit</button>
                      <button class="btn btn-light" id="redirectButton">Cancel</button>
                      </form>
                </div>
              </div>
</div>
</div>

<script>
document.getElementById("redirectButton").onclick = function() {
    window.location.href = "{% url 'ParticipantCategoryMaster' %}";
}

// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
<!--span.onclick = function() {-->
<!--  modal.style.display = "none";-->
<!--}-->

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}

 // Check for the success message and trigger SweetAlert
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                swal("Success", "{{ message }}", "success");
            {% endif %}
        {% endfor %}
    {% endif %}

<!--function mybtnclick() {-->
<!--    Swal.fire(-->
<!--        'Basic alert',-->
<!--        'You clicked the button!'-->
<!--    )-->
<!--};-->
</script>
  <script src="../../js/select2.js"></script>

{% endblock %}
