{% extends 'AdminMain/Festival.html' %}
{% block content %}

<div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Event Prize </h4>
                  <a href="../CreateEventPrize"><img src="https://cdn-icons-png.flaticon.com/512/1665/1665578.png" width="35vh;" height="35vh;"></a>

                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                            <th>Sl.No<br> &nbsp;</th>
<!--                            <th>Festival <br> &nbsp;</th>-->
                            <th>Event <br>Name</th>

                            <th>Event <br>Category</th>

                            <th>Winner <br>Position</th>

                            <th>Prize <br>Type</th>

                            <th>Cash<br> Amount </th>

                            <th>Event <br>Score</th>

                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for i in data %}
                        <tr>
                            <td style="text-align:right;">{{ forloop.counter }}</td>
                            <td>{{i.EventName}}</td>
                            <td>{{i.EventCategory}}</td>
                            <td>{{i.Winner}}</td>
                            <td>{{i.PrizeType}}</td>
                            <td style="text-align:right;">{{i.CashAmount}}</td>
                            <td style="text-align:right;">{{i.EventScore}}</td>
                            <td><a href="../EditEventPrize/{{i.id}}"><label class="badge badge-primary">Edit</label></a></td>
                            <td><a href="../DeleteEventPrize/{{i.id}}"><label class="badge badge-danger">Delete</label></a></td>
                            <td></td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</div>
{% endblock %}
